@import "colors.css";
@import "waiter.css";
@import "search.css";
@import "categories.css";
@import "top-bar.css";
@import "shop.css";
@import "inputs.css";
@import "fonts.css";
#sharedState,#newState
{
  display: none;
}
body
{
  /* background: teal; */
  padding-bottom: 70px;
  font-family: 'Goldman', cursive;
}

a{
  color:inherit;
}
a:hover{
  color: var(--orange);
}

.center-absolute
{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.match-parent
{
  width: 100%;
  height: 100%;
}

.active-menu
{
  color: var(--orange) !important;
}

.login-wrapper
{
  width: 100%;
  height: calc(100vh - 102px);
}
